



<div class="block block-inverse text-center">
  <div class="block-foreground">
    <h1 class="block-title">Solo un poquito</h1>
    <h4 class="text-muted">With every stitch and every detail we convey our Mayan heritage.</h4>
    <button class="btn btn-default btn-outline m-t">With a simple button</button>
  </div>
  <div class="block-background">
    <iframe frameBorder="0" src="https://s3.amazonaws.com/solounpoquito/images/paisaje.png?X-Amz-Date=20151218T221503Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=a45a7f517af44e4136b97eaa81019b52d258229625b768c96972468d4c9fcbca&X-Amz-Credential=ASIAJVYI5HDHDJT2D3LA/20151218/us-east-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEJf//////////wEagAJh8gXDIE94avuzEnLLTTq602L94TmaL382C%2BE0ACT45jkVFUHXnzAZ9a/x0QfnOhDvlexLO2BNGwNoV1JB/QA99OOmriJpSb9R8FlAY7ufFv0mK2PnMEbWUYJvLqWhLc4CWf4KSVaRW5FrwTN3wo0GKOs/4pjImWGSYXYZ4UqidttnAcSyCZ%2BwNamzF03aAHbhTZKhyUbmESMCzpJv7238%2BzUSChglaTO8q0Lszvh3AfgDQ5a5u6JSFGfQfR34F4V0llsew8C7V70bPI4b1/TNfy7CgIyviPmk6xsXGzvs5S/YPOT7pB/CvrKefqy6W6vZhzzreUi2RByaP/VYvjcPIJaH0rMF"></iframe>
  </div>
</div>

<div class="block block-secondary app-high-praise p-b-0">
  <div class="container">
    <div class="row app-align-center">
      <div class="col-sm-5 col-sm-push-7">
        <h6 class="text-muted text-uppercase">High Praise</h6>
        <h3 class="m-t-0 m-b-md">“Go Analytics is amazing. Decisions that used to take weeks, now only takes minutes and is available to everyone on my team.”</h3>
        <p class="m-b-md text-muted">Cindy Smith, founder of Cool Startup</p>
      </div>
      <div class="col-sm-6 col-sm-pull-5">
        <img src="assets/startup-3.jpg">
      </div>
    </div>
  </div>
</div>


<div class="app-ribbon p-y-lg">
  <div class="container text-center">
    <img src="assets/startup-4.svg">
    <img src="assets/startup-5.svg">
    <img src="assets/startup-6.svg">
    <img src="assets/startup-7.svg">
    <img src="assets/startup-8.svg">
  </div>
</div>


<div class="block text-center">
  <div class="container-fluid">
    <h4 class="m-b-md">
      Join over 900,000 designers already using Bootstrap. Get Bootstrap <strong>free</strong> forever!
    </h4>
    <form class="form-inline">
      <input class="form-control m-b" placeholder="email address">
      <input class="form-control m-b" type="password" placeholder="Create a Password">
      <button class="btn btn-primary m-b">Get started - free forever</button>
    </form>
    <small class="text-muted">
      By clicking "get started – free Forever!" I agree to Bootstraps
      <a href="#">Terms of service</a>
    </small>
  </div>
</div>
<div class="block block-bordered text-center">
  <div class="container-fluid">
   <blockquote class="pull-quote">
      <p>
        “Notice that simple inset border above. Isn't it lovely.”
      </p>
      <cite>Mark Otto, Huge Nerd</cite>
    </blockquote>
  </div>
</div>

<div class="block block-inverse app-footer">
 <div class="container">
    <div class="row">
      <div class="col-sm-5 m-b-md">
        <ul class="list-unstyled list-spaced">
          <li class="m-b"><h6 class="text-uppercase">About</h6></li>
          <li class="text-muted">
           We’ve been working on Go Analytics for the better part of a decade and are super proud of what we’ve created. If you’d like to learn more, or are interested in a job, contact us anytime at <a href="mailto: themes@getbootstrap.com">themes@getbootstrap.com</a>.
          </li>
        </ul>
      </div>
      <div class="col-sm-2 col-sm-offset-1 m-b-md">
        <ul class="list-unstyled list-spaced">
          <li class="m-b"><h6 class="text-uppercase">Product</h6></li>
          <li class="text-muted">Features</li>
          <li class="text-muted">Examples</li>
          <li class="text-muted">Tour</li>
          <li class="text-muted">Gallery</li>
        </ul>
      </div>
      <div class="col-sm-2 m-b-md">
        <ul class="list-unstyled list-spaced">
          <li class="m-b"><h6 class="text-uppercase">Apis</h6></li>
          <li class="text-muted">Rich data</li>
          <li class="text-muted">Simple data</li>
          <li class="text-muted">Real time</li>
          <li class="text-muted">Social</li>
        </ul>
      </div>
      <div class="col-sm-2 m-b-md">
        <ul class="list-unstyled list-spaced">
          <li class="m-b"><h6 class="text-uppercase">Legal</h6></li>
          <li class="text-muted">Terms</li>
          <li class="text-muted">Legal</li>
          <li class="text-muted">Privacy</li>
          <li class="text-muted">License</li>
        </ul>
      </div>
    </div>
  </div>
</div>
