<div class="block block-inverse text-center">
  <div class="block-foreground">
    <h1 class="block-title">Solo un poquito</h1>
    <h4 class="text-muted">With every stitch and detail we convey our Mayan heritage through our unique works of art.</h4>
    <button class="btn btn-default btn-outline m-t">I want to buy stuff!</button>
  </div>
  <div class="block-background">
    <iframe frameBorder="0" src="https://a.tiles.mapbox.com/v4/jacobthornton.6681fb42/attribution.html?access_token=pk.eyJ1IjoiamFjb2J0aG9ybnRvbiIsImEiOiJlMGRmZmJlNDZkNDhlN2EzMTQ0YWFiNjhlN2RiZWY1ZCJ9.hO-UNIIplnebJYkya-8TEQ"></iframe>
  </div>
</div>


<div class="block block-secondary app-high-praise p-b-0">
  <div class="container">
    <div class="row app-align-center">
      <div class="col-sm-5 col-sm-push-7">
        <h6 class="text-muted text-uppercase">Testimonial</h6>
        <h3 class="m-t-0 m-b-md">“Solo un poquito is amazing. Whenever I wear the bracelets I feel like I have a piece of home with me.”</h3>
        <p class="m-b-md text-muted">Cindy Smith, an average Guatemalan</p>
      </div>
      <div class="col-sm-6 col-sm-pull-5">
        <img src="http://bootstrap-themes.github.io/marketing/assets/img/startup-3.jpg">
      </div>
    </div>
  </div>
</div>


<div class="app-ribbon p-y-lg">
  <div class="container text-center">
    <img src="http://bootstrap-themes.github.io/marketing/assets/img/startup-4.svg">
    <img src="http://bootstrap-themes.github.io/marketing/assets/img/startup-5.svg">
    <img src="http://bootstrap-themes.github.io/marketing/assets/img/startup-6.svg">
    <img src="http://bootstrap-themes.github.io/marketing/assets/img/startup-7.svg">
    <img src="http://bootstrap-themes.github.io/marketing/assets/img/startup-8.svg">
  </div>
</div>


<div class="block text-center">
  <div class="container-fluid">
    <h4 class="m-b-md">
      Join over 100,000 people that love our products. Get our newsletter <strong>free</strong> forever!
    </h4>
    <form class="form-inline">
      <input class="form-control m-b" placeholder="email address">
      <input class="form-control m-b" type="password" placeholder="Create a Password">
      <button class="btn btn-primary m-b">Get started - free forever</button>
    </form>
    <small class="text-muted">
      By clicking "get started – free Forever!" I agree to Solo un poquito's
      <a href="#">Terms of service</a>
    </small>
  </div>
</div>
<div class="block block-bordered text-center">
  <div class="container-fluid">
   <blockquote class="pull-quote">
      <p>
        “This site is the most amazing site in the world.”
      </p>
      <cite>Mark Otto, Huge Nerd</cite>
    </blockquote>
  </div>
</div>

