<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- These meta tags come first. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Bootstrap Theme Example</title>

    <!-- Include the CSS -->
    <link href="dist/toolkit.min.css" rel="stylesheet">

  </head>
  <body>


  <div class="block text-center">
  <h1 class="block-title">Un poquito de Guatemala</h1>
  <h4 class="text-muted">Esta es la pimera versión de la hiper tienda.</h4>
  <button class="btn btn-primary m-t">¡Quiero saber más!</button>
</div>


  </div>
  <a class="left carousel-control" href="#carousel-example-generic-2" role="button" data-slide="prev">
    <span class="icon icon-chevron-thin-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic-2" role="button" data-slide="next">
    <span class="icon icon-chevron-thin-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>





<div class="block text-center">
  <div class="container-fluid">
    <h4 class="m-b-md">
      Join over 900,000 designers already using Bootstrap. Get Bootstrap <strong>free</strong> forever!
    </h4>
    <form class="form-inline">
      <input class="form-control m-b" placeholder="email address">
      <input class="form-control m-b" type="password" placeholder="Create a Password">
      <button class="btn btn-primary m-b">Get started - free forever</button>
    </form>
    <small class="text-muted">
      By clicking "get started – free Forever!" I agree to Bootstraps
      <a href="#">Terms of service</a>
    </small>
  </div>
</div>











<div class="block block-bordered text-center">
  <div class="container-fluid">
   <blockquote class="pull-quote">
      <p>
        “Notice that simple inset border above. Isn't it lovely.”
      </p>
      <cite>Mark Otto, Huge Nerd</cite>
    </blockquote>
  </div>
</div>



























    <!-- Include jQuery (required) and the JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="dist/toolkit.min.js"></script>
  </body>
</html>