<div class="block text-center">
  <h1 class="block-title">Solo un poquito</h1>
  <h4 class="text-muted">With every stitch and detail we convey our Mayan heritage through our unique works of art.</h4>
  <button class="btn btn-primary m-t">I want to buy stuff!</button>
</div>


<div class="block block-secondary app-high-praise p-b-0">
  <div class="container">
    <div class="row app-align-center">
      <div class="col-sm-5 col-sm-push-7">
        <h6 class="text-muted text-uppercase">High Praise</h6>
        <h3 class="m-t-0 m-b-md">“Go Analytics is amazing. Decisions that used to take weeks, now only takes minutes and is available to everyone on my team.”</h3>
        <p class="m-b-md text-muted">Cindy Smith, founder of Cool Startup</p>
      </div>
      <div class="col-sm-6 col-sm-pull-5">
        <img src="http://bootstrap-themes.github.io/marketing/assets/img/startup-3.jpg">
      </div>
    </div>
  </div>
</div>


<div class="app-ribbon p-y-lg">
  <div class="container text-center">
    <img src="https://s3.amazonaws.com/solounpoquito/images/startup-4.svg?X-Amz-Date=20151218T221825Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=9da18253734da8f5d4777fe4e45435633f41143459673e87fc430c6f64904730&X-Amz-Credential=ASIAJVYI5HDHDJT2D3LA/20151218/us-east-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEJf//////////wEagAJh8gXDIE94avuzEnLLTTq602L94TmaL382C%2BE0ACT45jkVFUHXnzAZ9a/x0QfnOhDvlexLO2BNGwNoV1JB/QA99OOmriJpSb9R8FlAY7ufFv0mK2PnMEbWUYJvLqWhLc4CWf4KSVaRW5FrwTN3wo0GKOs/4pjImWGSYXYZ4UqidttnAcSyCZ%2BwNamzF03aAHbhTZKhyUbmESMCzpJv7238%2BzUSChglaTO8q0Lszvh3AfgDQ5a5u6JSFGfQfR34F4V0llsew8C7V70bPI4b1/TNfy7CgIyviPmk6xsXGzvs5S/YPOT7pB/CvrKefqy6W6vZhzzreUi2RByaP/VYvjcPIJaH0rMF">
    <img src="https://s3.amazonaws.com/solounpoquito/images/startup-5.svg?X-Amz-Date=20151218T221836Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=21ffb91d8aa2e0e9e222f5876867f706747b195e87817cfce6bfba4f4cfd7185&X-Amz-Credential=ASIAJVYI5HDHDJT2D3LA/20151218/us-east-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEJf//////////wEagAJh8gXDIE94avuzEnLLTTq602L94TmaL382C%2BE0ACT45jkVFUHXnzAZ9a/x0QfnOhDvlexLO2BNGwNoV1JB/QA99OOmriJpSb9R8FlAY7ufFv0mK2PnMEbWUYJvLqWhLc4CWf4KSVaRW5FrwTN3wo0GKOs/4pjImWGSYXYZ4UqidttnAcSyCZ%2BwNamzF03aAHbhTZKhyUbmESMCzpJv7238%2BzUSChglaTO8q0Lszvh3AfgDQ5a5u6JSFGfQfR34F4V0llsew8C7V70bPI4b1/TNfy7CgIyviPmk6xsXGzvs5S/YPOT7pB/CvrKefqy6W6vZhzzreUi2RByaP/VYvjcPIJaH0rMF">
    <img src="https://s3.amazonaws.com/solounpoquito/images/startup-6.svg?X-Amz-Date=20151218T221841Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=1a414c0d6ba3df19017f9fda690c8a2949e619a0e7348d369791a0cf387fa07b&X-Amz-Credential=ASIAJVYI5HDHDJT2D3LA/20151218/us-east-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEJf//////////wEagAJh8gXDIE94avuzEnLLTTq602L94TmaL382C%2BE0ACT45jkVFUHXnzAZ9a/x0QfnOhDvlexLO2BNGwNoV1JB/QA99OOmriJpSb9R8FlAY7ufFv0mK2PnMEbWUYJvLqWhLc4CWf4KSVaRW5FrwTN3wo0GKOs/4pjImWGSYXYZ4UqidttnAcSyCZ%2BwNamzF03aAHbhTZKhyUbmESMCzpJv7238%2BzUSChglaTO8q0Lszvh3AfgDQ5a5u6JSFGfQfR34F4V0llsew8C7V70bPI4b1/TNfy7CgIyviPmk6xsXGzvs5S/YPOT7pB/CvrKefqy6W6vZhzzreUi2RByaP/VYvjcPIJaH0rMF">
    <img src="https://s3.amazonaws.com/solounpoquito/images/startup-7.svg?X-Amz-Date=20151218T221845Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=880a0d4bae4c1df778655598f6baf8474e2b992c871bef59f4b04c1f3697dfe5&X-Amz-Credential=ASIAJVYI5HDHDJT2D3LA/20151218/us-east-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEJf//////////wEagAJh8gXDIE94avuzEnLLTTq602L94TmaL382C%2BE0ACT45jkVFUHXnzAZ9a/x0QfnOhDvlexLO2BNGwNoV1JB/QA99OOmriJpSb9R8FlAY7ufFv0mK2PnMEbWUYJvLqWhLc4CWf4KSVaRW5FrwTN3wo0GKOs/4pjImWGSYXYZ4UqidttnAcSyCZ%2BwNamzF03aAHbhTZKhyUbmESMCzpJv7238%2BzUSChglaTO8q0Lszvh3AfgDQ5a5u6JSFGfQfR34F4V0llsew8C7V70bPI4b1/TNfy7CgIyviPmk6xsXGzvs5S/YPOT7pB/CvrKefqy6W6vZhzzreUi2RByaP/VYvjcPIJaH0rMF">
    <img src="https://s3.amazonaws.com/solounpoquito/images/startup-8.svg?X-Amz-Date=20151218T221849Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=e74f303b16cbab56ac7a6aa02a550a9ce93a76e00fed118917aa4e50b1934a19&X-Amz-Credential=ASIAJVYI5HDHDJT2D3LA/20151218/us-east-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEJf//////////wEagAJh8gXDIE94avuzEnLLTTq602L94TmaL382C%2BE0ACT45jkVFUHXnzAZ9a/x0QfnOhDvlexLO2BNGwNoV1JB/QA99OOmriJpSb9R8FlAY7ufFv0mK2PnMEbWUYJvLqWhLc4CWf4KSVaRW5FrwTN3wo0GKOs/4pjImWGSYXYZ4UqidttnAcSyCZ%2BwNamzF03aAHbhTZKhyUbmESMCzpJv7238%2BzUSChglaTO8q0Lszvh3AfgDQ5a5u6JSFGfQfR34F4V0llsew8C7V70bPI4b1/TNfy7CgIyviPmk6xsXGzvs5S/YPOT7pB/CvrKefqy6W6vZhzzreUi2RByaP/VYvjcPIJaH0rMF">
  </div>
</div>


<div class="block text-center">
  <div class="container-fluid">
    <h4 class="m-b-md">
      Join over 900,000 designers already using Bootstrap. Get Bootstrap <strong>free</strong> forever!
    </h4>
    <form class="form-inline">
      <input class="form-control m-b" placeholder="email address">
      <input class="form-control m-b" type="password" placeholder="Create a Password">
      <button class="btn btn-primary m-b">Get started - free forever</button>
    </form>
    <small class="text-muted">
      By clicking "get started – free Forever!" I agree to Bootstraps
      <a href="#">Terms of service</a>
    </small>
  </div>
</div>
<div class="block block-bordered text-center">
  <div class="container-fluid">
   <blockquote class="pull-quote">
      <p>
        “Notice that simple inset border above. Isn't it lovely.”
      </p>
      <cite>Mark Otto, Huge Nerd</cite>
    </blockquote>
  </div>
</div>

<div class="block block-inverse app-footer">
 <div class="container">
    <div class="row">
      <div class="col-sm-5 m-b-md">
        <ul class="list-unstyled list-spaced">
          <li class="m-b"><h6 class="text-uppercase">About</h6></li>
          <li class="text-muted">
           We’ve been working on Go Analytics for the better part of a decade and are super proud of what we’ve created. If you’d like to learn more, or are interested in a job, contact us anytime at <a href="mailto: themes@getbootstrap.com">themes@getbootstrap.com</a>.
          </li>
        </ul>
      </div>
      <div class="col-sm-2 col-sm-offset-1 m-b-md">
        <ul class="list-unstyled list-spaced">
          <li class="m-b"><h6 class="text-uppercase">Product</h6></li>
          <li class="text-muted">Features</li>
          <li class="text-muted">Examples</li>
          <li class="text-muted">Tour</li>
          <li class="text-muted">Gallery</li>
        </ul>
      </div>
      <div class="col-sm-2 m-b-md">
        <ul class="list-unstyled list-spaced">
          <li class="m-b"><h6 class="text-uppercase">Apis</h6></li>
          <li class="text-muted">Rich data</li>
          <li class="text-muted">Simple data</li>
          <li class="text-muted">Real time</li>
          <li class="text-muted">Social</li>
        </ul>
      </div>
      <div class="col-sm-2 m-b-md">
        <ul class="list-unstyled list-spaced">
          <li class="m-b"><h6 class="text-uppercase">Legal</h6></li>
          <li class="text-muted">Terms</li>
          <li class="text-muted">Legal</li>
          <li class="text-muted">Privacy</li>
          <li class="text-muted">License</li>
        </ul>
      </div>
    </div>
  </div>
</div>
